<ion-header>
  <ion-toolbar>
    <ion-title style="text-align:center ">
      Saved
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list class = "grid">

      <ion-card class = "card"
      *ngFor="let property of properties"
      (click)="navToProperty(property)">
      <ion-card-subtitle class = "details"> Property Name: <b> {{property.name}} </b> </ion-card-subtitle>
      <ion-card-subtitle class = "details"> City: <b> {{property.city}} </b> </ion-card-subtitle>
      <ion-card-subtitle class = "details" > Cost: <b>{{property.cost}} </b> </ion-card-subtitle>
      <ion-card-subtitle class = "details" > Rating: <b>{{property.rating}} </b> </ion-card-subtitle>
      <ion-card-subtitle class = "details"> Date: <b>{{property.date}} </b> </ion-card-subtitle>
    </ion-card>
  
  </ion-list>

</ion-content>
