<div id="login-box">
  <div class="left">

    <ion-header>
  <ion-toolbar>
    <ion-title>
      Register
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class ="ion-padding">

      <ion-item>
        <ion-label>Name</ion-label>
        <ion-input type = text [(ngModel)]="user.name" placeholder = "John Smith" ></ion-input>
      </ion-item>

      <ion-item>
          <ion-label>Email</ion-label>
          <ion-input type = text [(ngModel)]="user.email" placeholder = johnsmith@gmail.com></ion-input>
      </ion-item>

      <ion-item>
          <ion-label>Password</ion-label>
          <ion-input type = text [(ngModel)]="user.password" placeholder = ********></ion-input>
      </ion-item>

  </div>

  <ion-button color="danger" size="large" (click)="navToLogin()" expand="block">Submit</ion-button>
</ion-content>
